spring:
  application:
    name: customer-service
  datasource:
    url: ${DATASOURCE_URL:jdbc:postgresql://localhost:5432/customerdb}
    username: ${DATASOURCE_USERNAME:postgres}
    password: ${DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: ${SHOW_SQL:false}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: customer-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

server:
  port: 8081

los:
  communication:
    mode: ${COMMUNICATION_MODE:SYNC}  # SYNC or ASYNC - This controls the communication strategy

# Eureka configuration - only active when los.communication.mode=SYNC
eureka:
  client:
    enabled: true
#    ${EUREKA_ENABLED:#{T(los.customer.config.EurekaConditionalConfig).isEurekaEnabled('${los.communication.mode:SYNC}')}}
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
    fetch-registry: true
    register-with-eureka: true
